  @import '../../layouts/sass/variables.scss';

  // Mobile first

  header {
    text-align: center;
    top: auto;
    margin: 3em auto;
  }

  .sidebar {
    color: #fff;
    background-color: $grey;
    display: inline-block;
    width: 100%;

    & h2 {
      margin: 0.5em 0;
      font-size: 1.5em;
      color: $grey-blue;
      font-weight: normal;
    }

    .button {
      border: 2px solid #fff;
      color: $grey-blue;
      padding: 1em 1em;
      margin: 1em 0 1em 1em;
      font-size: 0.7em;
      font-weight: bold;
      background: transparent;
      border-radius: 2px;
      text-decoration: none;
      display: inline-block;
      font-family: 'League Spartan';
    }

    .button:hover {
      cursor: pointer;
      background: #fff;
    }

  }

  h1 {
    font-family: 'Aleo';
    color: #fff;
    font-size: 2em;
    margin: 0;
  }


  // Full size

  @media (min-width: 60em) {
    .sidebar {

      position: fixed;
      width: 25%;
      top: 0;
      bottom: 0;
      left: 0;

      header {
        margin: 50% 2em 0;
        text-align: right;
      }
    }
  }