@import '../../layouts/sass/variables.scss';

.blog-container {

  .blog-post-preview {
    h2 > a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: $blue;
      }
    }

    .excerpt {
      font-family: 'Open Sans', sans-serif;
      color: $grey;
      font-size: 1.1em;
    }

    .date {
      color: $grey-blue;
      font-size: 0.8em;
      margin-top: 0;
    }
  }

  .tag {
    padding: 0.2em 0.5em;
    margin-right: 1em;
    color: #fff;
  }

  .tag1 {
    background-color: $yellow;
  }

  .tag2 {
    background-color: $blue;
  }

}