@import '../layouts/sass/variables.scss';

.blog-container, .blog-post-container {

  font-weight: 300;

  h1 {
    font-family: "League Spartan", "Open Sans", sans-serif;
    font-size: 1.2em;
    color: $grey-blue;
    letter-spacing: 0.3em;
  }

  .blog-post-preview {

    margin: 2em 0 4em 0;

    .excerpt {
      font-family: "Open Sans", sans-serif;
      color: $grey;
      font-size: 1.3em;
      line-height: 1.8em;
    }
  }

  h2 > a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    &:hover {
      background-color: $off-white;
      color: lighten($red, 10%);
    }
  }

  .date {
    color: $grey-blue;
    margin-top: 0;
  }

  .tag {
    padding: 0.5em 0.8em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    color: #fff;
    background-color: $grey;
    display: inline-block;
  }

  .tag:nth-child(2) {
    margin-left: 0;
  }

  .devops {
    background-color: $yellow;
  }

  .elastic {
    background-color: $blue;
  }

  .gaming {
    background-color: $grey-blue;
  }

  .personal-development, .react {
    background-color: $off-white;
    color: $grey;
  }

  @media (min-width: 60em) {
    margin: 2em 12em 4em 2em;
    font-size: 1.2em;
  }

}