@font-face {
    font-family: 'League Spartan';
    src: url('/static/fonts/leaguespartan-bold.eot');
    src: url('/static/fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/leaguespartan-bold.woff2') format('woff2'),
         url('/static/fonts/leaguespartan-bold.woff') format('woff'),
         url('/static/fonts/leaguespartan-bold.ttf') format('truetype'),
         url('/static/fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo';
    src: url('/static/fonts/aleo-regular-webfont.eot');
    src: url('/static/fonts/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/aleo-regular-webfont.woff2') format('woff2'),
         url('/static/fonts/aleo-regular-webfont.woff') format('woff'),
         url('/static/fonts/aleo-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/aleo-regular-webfont.svg#aleo-regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Courier Prime Code';
    src: url('/static/fonts/courier prime code.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}