@import 'sass/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab');

body {
  font-family: 'Roboto', sans-serif;
}

//Full sized layout

@media (min-width: 48em) {

  .content {
    margin-left: 25%;
    color: $grey;
    padding-top: 2em;
    padding-right: 3em;
    padding-bottom: 0px;
    padding-left: 3em;

    h1 {
      color: $red;
    }

    h2 {
      font-size: 2em;
      color: $red;
      margin-bottom: 0.2em;
      font-weight: 700; 
    }

  }

  footer {
    padding: 1em;
    color: $grey-blue;
    text-align: center;
  }
}